<form action="" method="post" enctype="multipart/form-data">
 {% csrf_token %}
 {% for campo in formulario %}
    <div class="cmb-3">
        <label for="" class="form-label">{{ campo.label}}:</label>
       {% if campo.field.widget.input_type == 'file' and campo.value %}
       <br>
       <img src="{{MEDIA_URL}}/imagenes/{{campo.value}}" alt="" width="100" srcset="">
       {% endif %}
        <input type="{{ campo.field.widget.input_type}}" name="{{ campo.name}}" id="" class="form-control" placeholder="{{ campo.label}} " value="{{ campo.value | default:''}}" >
    </div>
   
   <div class="col-12 help-text">{{ campo.errors}}</div>
    {% endfor %}
    <br>
    <button type="submit" class="btn btn-success">guardar</button>
    <a class="btn btn-danger" href="{% url 'libros'%}"> cancelar</a>
</form>